{% extends 'base.html' %}
    
{% block content %}  
    <div class="container">
    {% if user.is_authenticated %}
    {{user.username}}
    {% endif %}
        <a href="?search=true&writer={{user.username}}">내가 쓴 글</a>
        <!--쿼리스트링-->
    <h1>Blog Project</h1>

    {% for blog in blogs %}
    <br><br>
    <hr>
        제목 : {{blog.title}} <br><br>
        작성자 : {{blog.writer}} <br><br>
        내용 미리보기 : {{blog.summary}} <a href="{% url 'detail' blog.id %}")>...more</a>
    {% endfor %}<br>
    <hr>

</div>

    {% if blogs.has_previous %}
    <a href="?page=1">처음</a>
    <a href="?page={{blogs.previous_page_number}}">이전</a>
    {% endif %}
    <span>{{blogs.number}}</span>
    <span>of</span>
    <span>{{blogs.paginator.num_pages}}</span>
    {% if blogs.has_next %}
    <a href="?page={{blogs.next_page_number}}">다음~</a>
    <a href="?page={{blogs.paginator.num_pages}}">마지막페이지~</a>
    {% endif %}


{% endblock %}
</body>
</html>